<% meta title: "Globovation | About Page", description: "Expose makers, problem solvers and entrepreneurs to real-life challenges needing to be solved", keywords: %w(makers problems entrepreneurs solutions doers hackers innovation global) %>

<div class="row">
	<div class="col-md-6">
		<img src="http://globovation.s3.amazonaws.com/img/about_image.jpg" class="img-responsive img-rounded img-about">
	</div>
	<div class="col-md-6">
		<h1>Globo What?</h1>
		<p class="lead lead-18">Our goal is to expose innovative forces to problems in need of solutions. On the one hand, users from all over the world can post problems. These can be based on situations they've encountered that are in need of an innovative solution, or preliminary ideas they've had based on their daily experiences that they don’t have the knowledge or resources to develop. On the other hand, makers and entrepreneurs of different kinds can use the site as a bank of ideas in need of solution, allowing them to channel their innovative power towards less familiar territories in need of creative development.</p>
		<p class="lead lead-18"> If you're interested in contributing to this project in any way, shape or form, please contact us: globovation at gmail.com </p>
	</div>
</div>
