<div class="row">
	<div class="col-md-6">
		<img src="http://globovation.s3.amazonaws.com/img/about_image.jpg" class="img-responsive img-rounded img-about">
	</div>
	<div class="col-md-6">
		<h1>Globo What?</h1>
		<p class="lead lead-18">Our goal is to expose innovative forces to problems neede to be solved. Users from all over the world, can publicize problems that they have encountered. It may be problems that are in need of innovative solutions or preliminary ideas arising from their daily experiences that they don’t have the resources or knowledge to develop. Makers and entrepreneurs of different kinds, working in various contexts, can use the site as a way to expose themselves to otherwise unknown problems, thus channeling their innovative forces towards less familiar territories demanding solutions.</p>
		<p class="lead lead-18"> If you're interested in contrebuting to this project in any way please contact us: globovation at gmail.com </p>
	</div>
</div>
