// *= require 'masonry/basic'
// *= require 'masonry/centered'
// *= require 'masonry/transitions'
// *= require_tree .

//customize bootstrap
$body-bg: #ecf0f1
$jumbotron-bg: #95a5a6
$navbar-default-bg: #036
$navbar-default-link-color: #fff
$navbar-default-brand-color: #fff


@import 'bootstrap-sprockets'
@import 'bootstrap'


//customize css

//main content top margin
.mt90 
	margin-top: 90px

//flash messages customized css
.alert-error 
	background-color: #f2dede
	border-color: #eed3d7
	color: #b94a48
	text-align: left
 
.alert-alert 
	background-color: #f2dede
	border-color: #eed3d7
	color: #b94a48
	text-align: left
 
.alert-success 
	background-color: #dff0d8
	border-color: #d6e9c6
	color: #468847
	text-align: left
 
.alert-notice 
	background-color: #dff0d8
	border-color: #d6e9c6
	color: #468847
	text-align: left

//center X button in flash messages
.alert
	.close
		margin-top: 0
 