// *= require froala_editor.min.css
// *= require froala_style.min.css
// *= require_tree .

//customize bootstrap
$body-bg: rgb(241, 242, 246);
$jumbotron-bg: #F6BB42;
$jumbotron-color: #fff;
$navbar-default-bg: #4fc1e9;
$navbar-height: 80px;
$navbar-default-link-color: #4d4d4f;
$navbar-default-link-hover-color: #fff;
$headings-font-weight: 400;
$text-color: #555;
$brand-primary: #3bafda;
$brand-warning: #f6bb42;
$brand-success: #8cc152;
$brand-danger: #da4453;
$brand-default: #fff;
$btn-font-weight: 400;
$btn-success-color: #fff;
$btn-success-bg: #8cc152;
$btn-success-border: #8cc152;
$btn-primary-bg: #3bafda;
$btn-primary-border: #3bafda;
$btn-default-color: #434a54;
$btn-default-bg: #fff;
$btn-default-border: #aab2bd;
$btn-danger-color: #fff;
$btn-danger-bg: #da4453;
$btn-danger-border: #da4453;
$btn-warning-bg: #f6bb42;
$btn-warning-border: #f6bb42;



@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


//customize css


//navbar-header -->

.navbar-header {
	.navbar-brand {
		padding: 15px 15px;
		height: 90px;
	}
}

.navbar-nav {
 	li {
		font-size: 15px!important;
		letter-spacing: 1px;
		margin-top: 5px;
	}
}

#new-project {
	a {
	background-color: #32b7e5;
	}
}


.navbar-default {
	.navbar-toggle {
		border-color: #4d4d4f!important;
		margin-top: 28px!important;
		.icon-bar {
			background-color: #4d4d4f!important;
		}
	}
}

.navbar-default {
	.navbar-toggle:hover  {
		background-color: #32b7e5!important;
	}
	.navbar-toggle:focus {
		background-color: #32b7e5!important;
	}
}

.navbar-right {
	.dropdown.open {
		.dropdown-menu {
			a {
				color: #4d4d4f!important;
			}
			a:hover {
				color: #ffffff!important;
				background-color: #32b7e5!important;
			}
			.divider {
				background-color: transparent; 
			}
			background-color: #32b7e5;
			min-width: 195px; 
			box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
			border: none;
			margin-top: -13px!important;	
		}
		.dropdown-toggle {
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;			
    	min-width: 195px;
		}
	}
}

#navbar {
	a {
		img {
			width: 30px;
		}
	}
}

@media (min-width: 768px) {
	#new-project {
		a {
			padding-bottom: 35px;
			border-radius: 5px;
		}
	}
}

@media (max-width: 768px) {
	.nav.navbar-nav {
		margin-bottom: 0;
	}
	.nav.navbar-nav.navbar-right {
		margin: 0 -15px;
	}
}
//<--


//btn customize -->

.btn-lg {
	letter-spacing: 2px!important;
	border-radius: 5px!important;
	//padding: 10px 60px!important;
}

.btn-width-100 {
	width: 100%;
}
// <--


//main content top margin -->
.mt-120 {
	margin-top: 120px;
}

.mt-115 {
	margin-top: 115px;
}

//flash messages customized css -->
.alert-error {
	background-color: #f2838f;
  border: #ed5565;
  color: #a94442;
  border-color: #ebccd1;
  text-align: left;
	//background-color: #f2dede;
	//border-color: #eed3d7;
	//color: #b94a48;
}

//red
.alert-alert {
	background-color: #f2838f;
  border: #ed5565;
  color: #a94442;
  border-color: #ebccd1;
  text-align: left;
}

//blue
.alert-info {
	background-color: #7cd1ef;
  border: #4fc1e9;
  color: #31708f;
  border-color: #bce8f1;
  text-align: left;
}

//yellow
.alert-warning {
	background-color: #ffdd87;
  border: #ffce54;
  color: #8a6d3b;
  border-color: #faebcc;
  text-align: left;
}


//green
.alert-success {
	background-color: #b9df90;
  border: #a0d468;
  color: #3c763d;
  border-color: #d6e9c6;
  text-align: left;
	//background-color: #dff0d8;
	//border-color: #d6e9c6;
	//color: #468847;
}

//green
.alert-notice {
	background-color: #b9df90;
  border: #a0d468;
  color: #3c763d;
  border-color: #d6e9c6;
  text-align: left;
}
// <--


//center X button in flash messages
.alert {
	.close {
		margin-top: 0;
	}
}


//margin-top alert message in prject form
#alert-margin {
	margin-top: 20px;
}

//junbotron style 
#home-jumb {
	.header-text-bg {
		h1 {
		background-color: #F6BB42;
		display: inline;
		padding: 0 10px 8px 10px;
		line-height: 1.5em;
		border-radius: 4px;
		}
		h3 {
			color: #fff;
    	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    	letter-spacing: 0.5px;
		}
		margin-top: 45px;
	}	
	background: url(//s3.amazonaws.com/globovation/img/hp_banner.jpg) no-repeat center center;
  background-size: cover;
  min-height: 350px;
  margin-top: -15px;
  padding-right: 30px;
  padding-left: 30px;
}



