// *= require 'masonry/basic'
// *= require 'masonry/centered'
// *= require 'masonry/transitions'
// *= require_tree .

//customize bootstrap
$body-bg: rgb(241, 242, 246);
$jumbotron-bg: #95a5a6;
$navbar-default-bg: #4fc1e9;
$navbar-height: 80px;
$navbar-default-link-color: #4d4d4f;
$navbar-default-link-hover-color: #fff;
$headings-font-weight: 400;
$text-color: #555;



@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


//customize css


//navbar-header

.navbar-header {
	.navbar-brand {
	padding: 8px 15px;
	}
}

.navbar-nav {
 	li {
		font-size: 15px!important;
		letter-spacing: 1px;
	}
}

#new-project {
	a {
	background-color: #32b7e5;
	}
}



//main content top margin
.mt-header {
	margin-top: 150px;
}

//flash messages customized css
.alert-error {
	background-color: #f2838f;
  border: #ed5565;
  color: #a94442;
  border-color: #ebccd1;
  text-align: left;
	//background-color: #f2dede;
	//border-color: #eed3d7;
	//color: #b94a48;
}

.alert-alert {
	background-color: #f2838f;
  border: #ed5565;
  color: #a94442;
  border-color: #ebccd1;
  text-align: left;
}

.alert-success {
	background-color: #b9df90;
  border: #a0d468;
  color: #3c763d;
  border-color: #d6e9c6;
  text-align: left;
	//background-color: #dff0d8;
	//border-color: #d6e9c6;
	//color: #468847;
}

.alert-notice {
	background-color: #b9df90;
  border: #a0d468;
  color: #3c763d;
  border-color: #d6e9c6;
  text-align: left;
}

//center X button in flash messages
.alert {
	.close {
		margin-top: 0;
	}
} 