//project show page

#project-show-page {
	.label {
		  font-size: 12px;
			font-weight: 500;
			letter-spacing: 1px;
			vertical-align: 4px;
	}
	.proj-show-title {
		h4 {
			img {
			max-width: 30px;
			}
			margin-top: 10px;
			color: #777777;
			font-weight: 300;
			letter-spacing: 0.7px;
		}
	}
}

.main-image-wraper {
	border: solid 1px #fff;
	height: 400px;
}

.main-image-show {
	overflow: hidden;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  border-radius: 4px;
}

.hr-divider {
	  border-top: 1px solid #dddddd;
	  margin-top: 35px;
}

.project-story-wraper {
	background-color: #fff;
	border: 1px solid #e6e9ed;
	overflow: hidden;
	border-radius: 4px;
	padding: 20px 20px;
	margin-bottom: 20px;
	min-height: 400px;
	padding-top: 39px;

	.nav-tabs {
		border-bottom: 1px solid #eeeeee;
	}

	li.active a {
		color: white!important;
		background-color: #3bafda!important;
	}


	li {
		color: #f6bb42;
	}

		a {
			font-size: 18px;
			margin-right: 10px!important;
		}

		a:hover {
			background-color: #4fc1e9!important;
			color: #fff;
		}
}

#sectionA, #sectionB, #sectionC {
	section {
		font-size: 16px;
  	color: #555;
  	letter-spacing: 0.2px;
  	font-weight: 300;
  	margin-top: 30px;
	}
}

.project-solution-wraper {
	background-color: #fff;
	border: 1px solid #e6e9ed;
	overflow: hidden;
	border-radius: 4px;
	padding: 20px 20px;
}

.solution-button {
	margin: 0 auto;
}

