<div class="jumbotron" id="home-jumb">
	<div class="header-text-bg">
	  <h1>Where Doers Get Inspired </h1>
	  <h3>Expose makers, problem solvers and entrepreneurs to real-life challenges needing to be solved</h3>
  </div>
  <% if false %>
	  <p>
	  	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary", role: "button" %>
	  </p>
	<% end %>
</div>
