<div class="jumbotron">
  <h1>Where makers get inspired </h1>
  <p>Expose makers and problem solvers to real-life challenges needed to be solved</p>
  <% if !user_signed_in? %>
	  <p>
	  	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary", role: "button" %>
	  </p>
	<% end %>
</div>
